
a {
	text-decoration: none;
}
.black_overlay{
	display:none;
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	background-color:#FFFFFF;
	z-index:1001;
	-moz-opacity:0.5;
	opacity:.50;
	filter:alpha(opacity=50);
}
.white_content{
	display:none;
	position:absolute;
	top:20%;
	left:18%;
	width:195px;
	height:245px;
	padding:16px;
	border:2px solid orange;
	border-radius:20px;
	margin:-5px;
	background-color:#FFE260;
	z-index:1002;
	overflow:auto;
}
/*
	#FFE260;表示data-theme="e"的颜色
*/
.my_dialog{
	display:none;
	position:absolute;
	top:30%;
	left:18%;
	width:195px;
	height:170px;
	border:2px solid orange;
	border-radius:20px;
	padding:16px;
	margin:-5px;
	background-color:#FFE260;
	z-index:1002;
	overflow:auto;
}

.admin_dialog{
	display:none;
	position:absolute;
	top:30%;
	left:18%;
	width:195px;
	height:145px;
	border:2px solid orange;
	border-radius:20px;
	padding:16px;
	margin:-5px;
	background-color:#FFE260;
	z-index:1002;
	overflow:auto;
}
/*解决 jqmobile切换闪屏
.ui-page {  
	backface-visibility: hidden;  
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
} 
*/